DATABASE_URL="file:./dev.db"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change-me"
ADMIN_SESSION_SECRET="change-this-to-a-long-random-value"
COMPANY_REGISTRATION_NUMBER="2026 / 166219 / 07"
COMPANY_REGISTERED_ADDRESS="UNIT 93 AMBER HILL\n26 LEMONWOOD ST\nCENTURION\nGAUTENG\n0144"
